extends layout.pug

block content
	div(class='question-container')
		h1(class='question') #{q1.q}
		div(class='grid-container')
			div(class='grid-element') 
				div #{q1.a1[0]}
			div(class='grid-element') 
				div #{q1.a2[0]}
			div(class='grid-element') 
				div #{q1.a3[0]}
			div(class='grid-element') 
				div #{q1.a1[0]}
			div(class='grid-element') 
				div #{q1.a2[0]}
			div(class='grid-element') 
				div #{q1.a3[0]}	