extends layout.pug

block content
	div(class='question-container')
		h1(class='title') #{title} 
		each val,index in questions.q
			if imagesonly[1]
				h1(class='question' style='background-image:url('+images[index]+');') #{val}
			else
				h1(class='question') #{val}
			if imagesonly[0]
					div(class='grid-container' data-questionindex=index) 
						each val, aindex in questions.a[index]
							div(class='grid-element' style="background-image:url(\""+val+"\");" data-answerindex=aindex onclick='check(this)') 
			else
				div(class='grid-container' data-questionindex=index) 
					for i in questions.a[index]
						div(class='grid-element' onclick='check(this)') #{i} 
		
		div(class='share')
			p Share
			a(id='twitter')
				button Twitter
		script(src='quiz.js')
	